<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- css -->
    <link rel="stylesheet" href="LOGIN.css">
    <!-- Uso de GSAP para animaciones -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Fonts Awesome para iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <main class="login-container">
        <div class="container">
            <div class="main">
                <h2>LOGIN</h2>
                <p class="text">Start chating</p>
                <div class="content">
                    <form id="Main" method="post"> 
                        <input type="text" name="username" placeholder="Username" required autofocus="">
                        <input type="password" name="password" placeholder="Password" required autofocus="">
                        <button class="btn" type="submit">Log In</button>
                        <div class="SignUp">
                            <p class="p-signup">Don't have an account yet? </p>
                            <a href="#" id="Crear"> Sign Up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Ventana PopUp para registrarse -->
    <section class="PopUp"> <div class="modal-content"> <div class="modal-display">
                <button class="close"><i class="fa-solid fa-arrow-left"></i></button>
                <p>Sign Up</p>
            </div>
            <div class="separador">
                <hr class="h">
            </div>
            <form id="formRegistro" enctype="multipart/form-data"> 
                <div class="modal-pfp">
                    <div class="ImageLoad">
                        <img class="ImageLoaded" src="../multimedia/logo.jpg" id="profile-image">
                        <label for="input-file"> Choose image</label>
                        <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" name="avatar"> 
                    </div>
                </div>
                <div class="modal-icon-name">
                    <div class="modal-firtst-name">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="nombres" placeholder="First Name" required>
                    </div>
                    <div class="modal-second-name">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="paterno" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="modal-icon-birthdate">
                    <div class="modal-third-name">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="materno" placeholder="Last Name (Optional)">
                    </div>
                    <div class="modal-birthdate">
                        <i class="fa-solid fa-cake"></i>
                        <input type="date" name="fechaNacimiento" required>
                    </div>
                </div>
                <div class="modal-user-password">
                    <div class="modal-user">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="usuario" placeholder="Username" required>
                    </div>
                    <div class="modal-password">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="pass" placeholder="Password1234" required>
                    </div>
                </div>
                <div class="modal-email">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="correo" placeholder="email@example.com" required>
                </div>
                <button type="submit" class="btn-sign" id="btnRegistrar">Register</button>
            </form> 
            </div>
    </section>

    <!-- gsap es para animar la página -->
    <!-- <script>
        gsap.from('.main', 1.2, {opacity:0, y:150, delay:1})
        gsap.from('h2', 1.2, {opacity:0, y:-170, delay:1})
        gsap.from('.text', 1.2, {opacity:0, x:0, delay:2.3})

        gsap.from('.SignUp', 1.2, {opacity:0, y:150, delay:1})
        
    </script>
    <script>
        let profilePic = document.getElementById("profile-image");
        let inputFile = document.getElementById("input-file");

        inputFile.onchange = function(){
            profilePic.src =URL.createObjectURL(inputFile.files[0]);
        }

    </script> -->
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="LOGIN.js"></script>
</body>
</html>
